* {
    margin:  0;
}

#main {
    display: grid;
    grid-template-rows: 2fr 14fr 1fr;
    height: 100vh;
}

#header {
    background-color: darkred;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

#headerTitle {
    font-size: 2rem;
}

#headerSubTitle {
    font-size: 1.25rem;
}

#gameZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightgoldenrodyellow;
}

#gameZoneTop {
    display: grid;
    align-items: center;
    background-color: lightslategray;
    color: white;
    width: 400px;
    height: 5rem;
    border-radius: 15px 15px 0 0;
}

#announcements {
    font-size: 2rem;
}

#symbolSelectBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#symbolSelectBox>button {
    font-size: 1.5rem;
    width: 6rem;
    border-radius: 15px;
}

#gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 400px;
    width: 400px;
}

.gameSquare {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: black solid;
    font-size: 4rem;
}

#gameZoneBottom {
    background-color: lightslategray;
    display: flex;
    width: 400px;
    height: 2rem;
    border-radius: 0 0 15px 15px;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#footer {
    background-color: lightcoral;
    display: flex;
    justify-content: center;
    align-items: center;
}