* {
    margin:  0;
}

#main {
    display: grid;
    grid-template-rows: 4fr 14fr 1fr;
    height: 100vh;
}

#header {
    background-color: darkred;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
}

#headerTitle {
    font-size: 4rem;
}

#headerSubTitle {
    font-size: 2rem;
}

#contentContainer { 
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
}
#modeSelectBox {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 3rem;
    text-align: center;
}

#modeSelectTitle {
    color: white;
    font-size: 2rem;
    font-weight: bold;
}

.modeBtn {
    font-size: 1.5rem;
    border-radius: 15px;
    padding: 0.5rem;
}

#gameZone {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: lightgoldenrodyellow;
}

#gameZoneTop {
    display: grid;
    align-items: center;
    background-color: lightslategray;
    color: white;
    width: 300px;
    height: 5rem;
    border-radius: 15px 15px 0 0;
}

#announcements {
    font-size: 2rem;
}

#symbolSelectBox {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;
}

#symbolSelectBox>button {
    font-size: 1.5rem;
    width: 6rem;
    border-radius: 15px;
}

#gameBoard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 300px;
    width: 300px;
}

.gameSquare {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: center;
    align-content: center;
    background-color: white;
    border: black solid;
    font-size: 4rem;
    height: 100px;
}

#resetBtn {
    background-color: lightslategray;
    display: flex;
    width: 300px;
    height: 2rem;
    border-radius: 0 0 15px 15px;
    color: white;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}

#rules {
    background-color: lightcoral;
    flex-direction: column;
    display: flex;
    text-align: center;
    color: white;
    justify-content: center;
    gap: 1rem;
    padding: 3rem;
    
}

#rulesTitle {
    font-size: 2rem;
    font-weight: bold;
}

#rulesText {
    font-size: 1.5rem;
}

#footer {
    background-color: lightcoral;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}